{% extends "layout.html" %}

{% block content %}
	
		
	<section id="about-us">
        <div class="container">			
			<div class="skill-wrap clearfix">			
				<div class="center wow fadeInDown">
					<h2><span>Advertisers</span></h2>
					<p class="lead">XXX Media Team connects brands to the most engaged audiences.</p>
					<div class="s-request" style="bottom: 10px;">
                    	<h3><a href="/signup">Sign up</a></h3>
                	</div>
				</div>
				
            </div>
			
			<!-- our-team -->
			<div class="team">

				<div class="row clearfix">
					<div class="col-md-3">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<div class="steps"><i class="fa fa-sitemap"></i></div>
								</div>
								<div class="media-body">
									<h4 style="font-weight:bold;">Full control</h4>
								</div>
							</div><!--/.media -->
							<h6>Some of XXX Media targeting options: GEO, Source, Operating system, Browser, Frequency Cap. Create campaigns, modify, set a budget, bid, pause them at any time.</h6>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-3 col-md-offset-1">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<div class="steps"><i class="fa fa-user"></i></div>
								</div>
								<div class="media-body">
									<h4 style="font-weight:bold;">Support</h4>
								</div>
							</div><!--/.media -->
							<h6>Our devoted staff enhances our relations with our customers. We are dedicated 24/7 on providing you the best service possible!</h6>
						</div>
					</div><!--/.col-lg-4 -->
					<div class="col-md-3 col-md-offset-1">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<div class="steps"><i class="fa fa-laptop"></i></div>
								</div>
								<div class="media-body">
									<h4 style="font-weight:bold;">Traffic</h4>
								</div>
							</div><!--/.media -->
							<h6>We know the importance of quality traffic. Our hard working team developed a very advanced anti fraud system, which filters out all proxy, bot and low quality traffic.</h6>
						</div>
					</div><!--/.col-lg-4 -->								
				</div> <!--/.row -->
				<div class="row team-bar">
					<!-- <div class="first-one-arrow hidden-xs">
						<hr>
					</div> -->
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="fifth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-3 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<div class="steps"><i class="fa fa-bar-chart-o"></i></div>
								</div>
								<div class="media-body">
									<h4 style="font-weight:bold;">Realtime stats</h4>
								</div>
							</div><!--/.media -->
							<h6>Our powerful dashboard allows advertisers to manage and overview accurate and easily all of their campaigns.</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<div class="steps"><i class="fa fa-tachometer"></i></div>
								</div>
								<div class="media-body">
									<h4 style="font-weight:bold;">Low stakes</h4>
								</div>
							</div><!--/.media -->
							<h6>Minimum deposit is only 25 USD, Paypal, Payza or Payoneer. Campaigns can be managed at your convenience.</h6>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	
	
{% endblock %}