{% extends "layout.html" %}

{% block content %}
        
    <section id="services">
        <div class="container">         
            <div class="skill-wrap clearfix">           
                <!-- <div class="center wow fadeInDown">
                    <h2><span style="margin-left:-90px">Advertisers</span></h2>
                </div> -->
            </div>
            
            <!-- our-team -->
            <div class="team">

                <div class="row clearfix">
                    <div class="col-md-3 col-sm-6 col-md-offset-2">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-eye-slash"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold; color:#00cbff">SELF-SERVE PLATFORM</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">With our self-serve platform you have full control over your campaigns! we allow you the ability to create and modify your campaigns. We provide targeting options such as Geo, OS, Browser, and Time/Date.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
                    
     
                    <div class="col-md-3 col-sm-6 col-md-offset-1">  
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-check-circle-o"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold; color:#00cbff">Quality Traffic</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">At Revrtb we understand that you have goals for your campaign. Our quality traffic and fraud detection technology provides traffic that will help you hit your goals!</h6>
                        </div>
                    </div><!--/.col-lg-4 --> 

                             
                </div> <!--/.row -->
                <div class="row team-bar">

                </div> 

                <div class="row clearfix">   
                    <div class="col-md-3 col-sm-6 col-md-offset-2"> 
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-bar-chart-o"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold; color:#00cbff">Real time stats</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">Our platform provides real time reporting to help you optimize your campaigns and achieve your performance goals.</h6>
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-md-offset-1">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold; color:#00cbff">24/7 support</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">We know performance is key. We provide a dedicated account manager that is available to you 24/7 to help assist in achieving your campaign goals.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
 
                </div>  <!--/.row-->

            </div><!--section-->
            <div class="row" style="height:100px">   
                 <div class="s-request">
                    <h3><a href="/signup">Sign up</a></h3>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/about-us-->
    
    
{% endblock %}