{% extends "layout.html" %}

{% block content %}
    
        
    <section style="background-color: #000;" id="services">
        <div class="container">         
            <div class="skill-wrap clearfix" style="margin-bottom:30px">           
                <div class="center wow fadeInDown">
                    <!-- <h2><span>Careers</span></h2> -->
                </div>
            </div>
            
            <div class="center" style="margin-bottom:140px">
                <p style="color:white; font-size:18px">Do you have a passion for online advertising? <br>Then we would love to hear from you! <br><br> Send us an email with your resume to <br> <p style="color:#00cbff; font-size:18px">support@revrtb.com</p></p>
            </div>

        </div><!--/.container-->
    </section><!--/about-us-->
    
    
{% endblock %}