<div style="font-size:100%">
		<div style="background:#f3f3f3">
			<div style="margin:0 auto;width:500px;padding-top:50px;padding-bottom:50px">
				<div style="background:#2fbfbf;color:white;text-align:center;font-size:3em">
					<span class="il">EliteNova Corp</span>
				</div>
				<div style="background:white;color:black;padding:10px 10px 10px 10px">
					<h2>Hello guys,</h2>
					<p>You have new contact message.</p>
					<p>See details below.</p>
					<div style="text-align:left">
						<b>Name:</b> {{ name }}<br>
						<b>Subject:</b> {{ subject }} <br>
						<b>Email:</b> <a href="mailto:{{ email }}" target="_blank">{{ email }}</a><br>
						<b>Website:</b> {{ website }} <br>
						<b>Message:</b> {{ message }} <br>
					</div>
					<h4>Please response ASAP</h4>
				</div>
			</div>
		</div>
</div>
