<div style="font-size:100%">
		<div style="background:#f3f3f3">
			<div style="margin:0 auto;width:500px;padding-top:50px;padding-bottom:50px">
				<div style="background:#2fbfbf;color:white;text-align:center;font-size:3em">
					<span class="il">RevRTB - {{publisher_name}} - New codes</span>
				</div>
				<div style="background:white;color:black;padding:10px 10px 10px 10px">
					<h2>Hello,</h2>
					<p>Please start to use following codes:</p>
					<div style="text-align:left">
						<b>HTML code:</b> <br>{{ html_code }}<br><br>
						<b>Iframe code:</b> <br>{{ iframe }}<br><br>
						<b>Direct url:</b> <br>{{ direct_url }} <br><br>
					</div>
				</div>
			</div>
		</div>
</div>
