{% extends "layout.html" %}

{% block content %}
	
	<section id="services">
	   <div class="container">
            <div class="skill-wrap clearfix">           
                <div class="center wow fadeInDown">
                    <h2><span style="margin-left:-90px">Publishers</span></h2>
                </div>
                
            </div>

                <div class="team">

                <div class="row clearfix">
                    <div class="col-md-3 col-sm-6 col-md-offset-2">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-crosshairs"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;color:#00cbff">Rates and fill</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">Our advertisements offer global coverage and high revenue. With our 100% fill we make sure you earn the maximum revenue for your visitors.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
                    
                    
                    <div class="col-md-3 col-sm-6 col-md-offset-1">  
                        <div class="single-profile-bottom wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-folder-open"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;color:#00cbff">Advance reporting</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">Our powerful reporting platform, we make it easy for you to analyze your traffic allowing you to maximize revenue.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
                             
                </div> <!--/.row -->
                <div class="row team-bar">

                </div> 

                <div class="row clearfix">   
                    <div class="col-md-3 col-sm-6 col-md-offset-2"> 
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;color:#00cbff">24/7 support</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">We know your website is important to you. We provide a dedicated account manager that is available to you 24/7.</h6>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-md-offset-1">  
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-dollar"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;color:#00cbff">Fast Payment</h4>
                                </div>
                            </div><!--/.media -->
                            <h6 style="color:#fff">At RevRTB we know your payment is important to you. Therefore we provide fast payments along with multiple payment options.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->   
                </div>  <!--/.row-->

            </div>
        </div><!--/.container-->
                <div class="row">
                     <div class="s-request" style=" margin-left:-100px">
                        <h3><a href="http://www.revrtb.com/signup">Sign up</a></h3>
                    </div>
                </div>
    </section><!--/#services-->

	


    
{% endblock %}