<div style="font-size:100%">
		<div style="background:#f3f3f3">
			<div style="margin:0 auto;width:500px;padding-top:50px;padding-bottom:50px">
				<div style="background:#2fbfbf;color:white;text-align:center;font-size:3em">
					<span class="il">Elite NovaCorp</span>
				</div>
				<div style="background:white;color:black;padding:10px 10px 10px 10px">
					<h2>Hello guys,</h2>
					<p>You have new sign up request.</p>
					<p>See details below.</p>
					<div style="text-align:left">
						<b>First Name:</b> {{ fname }}<br>
						<b>Last Name:</b> {{ lname }}<br>
						<b>Skype:</b> {{ skype }} <br>
						<b>Website:</b> {{ website }} <br>
						<b>Username:</b> {{ username }} <br>
						<b>Email:</b> <a href="mailto:{{ email }}" target="_blank">{{ email }}</a><br>
						<b>Password:</b> {{ password }} <br>
						<b>Account type:</b> {{ account_type }} 
					</div>
					<h4>Please response ASAP. User has got an email with pending sign up process...</h4>
				</div>
			</div>
		</div>
</div>
