{% extends "layout.html" %}

{% block content %}

		
	<div class="map">
	   
	</div>
	
	<section id="terms-page">
        <div class="container">
                <h2 style="color:white">Terms of Service</h2>
            <div class="row contact-wrap"> 
                <div class="col-sm-8">

<h4 style="font-weight:700; color:white">Acceptance of Terms</h4>
<br>
This Agreement shall govern participation in the EliteNovaCorp Advertising program. By participating in the Program, you are agreeing to be bound by these Terms and Conditions. The term 'customer' shall refer to any individual or entity who accepts the terms and conditions of this Agreement by submitting the Program registration. The Program is offered to you by EliteNovaCorp Limited.
<br><br>
Participation: EliteNovaCorp shall have absolute discretion as to whether or not it accepts a particular customer or site for participation in the EliteNovaCorp Popunder Network. Sites, users, campaigns, that, after being reviewed and at our total discretion, don’t qualify for our Program and we consider harmful for our company (EliteNovaCorp Limited), image, or affiliates, may be terminated at any time we consider appropriate.</b>
<br><br><br>
<u>SECTION A</u><br><br>
<b>EliteNovaCorp reserves the right to terminate any account, website, campaign, order, deposit, withdrawal, referral, at our discretion or by any reason we consider valid.</b> Reason(s) may include but are not subject to:
<br><br>• <i>Sites and content</i>
<br><br>-Sites containing or linking to any form of illegal activity (i.e., how to build a bomb, hacking... etc.).
<br><br>-Sites containing shock gore such as prolapse, bestiality, scatological content such as urine or feces, discriminatory comments, or any depiction of a minor in an adult or sexual situation.
<br><br>-Sites containing child pornography. This includes minors of ay kind, does not matter if they are dressed. "Jailbait" content is included.
<br><br>-Sites with gratuitous displays of violence, obscene or vulgar language, and abusive content or content which endorses or threatens physical harm.
<br><br>-Sites promoting any type of hate-mongering (i.e., racial, political, ethnic, religious, gender-based, sexuality-based or personal, etc.).
<br><br>-Sites that participate in or transmit inappropriate newsgroup postings or unsolicited e-mail (spam).
<br><br>-Sites promoting any type of illegal substance or activity or sites with illegal, false or deceptive investment advice and money-making opportunities.
<br><br>-Sites with any type of content that a reasonable public consensus deems to be improper or inappropriate.
<br><br>• <i>Traffic and sources</i>
<br><br>-Fake traffic of any kind is not allowed. Autosurfers, iframes, bots, proxys, autohits services, traffic exchanges, not allowed.
<br><br>-Paid advertising, extension / software generated traffic delievered to our popunder network is not allowed without our previous approval. If you are an adnetwork, media buyer, or you have access to non-organic sources of traffic, you must contact us first to see if your traffic is acceptable. Send us an email <a href="http://www.{{domain}}.com/contact">here</a>.
<br><br>• <i>Referrals</i>
<br><br>-Self referred accounts are not allowed, this might cause all accounts termination.
<br><br><br>
<u>SECTION B</u><br><br>
1. EliteNovaCorp will not deliver visitors to sites containing content that is not appropriate for viewing by a general audience. Please refer to "Section A - Sites and content" for details of sites we don't accept.
<br><br>
2. Your Advertisement Page can not contain any other popup windows. Any additional window generated by your site shall be considered a popup window, including popups, pop-behinds, exit popups windows, or any alert of any kind. If a popup window is installed on the URL at any time, EliteNovaCorp will stop your campaign immediately and any remaining credits will be forfeited.
<br><br>
3. Your Advertisement Page can not contain scripts that alter users browser settings.
<br><br>
4. Your Advertisement Page can not contain any frame breaking codes.
<br><br>
5. Your Advertisement Page can not contain any auto-downloads, without user action.
<br><br>
6. Your Advertisement Page can not contain multiple alert boxes.
<br><br>
7. Your Advertisement Page can not contain alert boxes so long that the close buttons can not be seen.
<br><br>
8. To insure compliance with these terms and conditions, any Customers that change their content after approval for membership MUST notify EliteNovaCorp of the changes in writing IMMEDIATELY. If your site is changed during the campaign such that it includes inappropriate content, EliteNovaCorp will stop your campaign immediately.
<br><br>
<b>By depositing funds on EliteNovaCorp, you agree that if any kind of malware/exploits/hijacks/virus is detected on any of your landing pages, your account will be disabled. The same rule applies if we detect multiple accounts banned for that reason.</b>
<br><br>
Data Reporting (Stats): All Campaigns purchased on the EliteNovaCorp Popunder Network are served, tracked and reported by EliteNovaCorp. For Campaigns that involve third party serving/tracking, accounting may be beyond the control of EliteNovaCorp. Campaigns that use third party serving/tracking for auditing purposes may be subject to alternate or additional controls. EliteNovaCorp Limited is the sole owner of all website, campaign, and aggregate web user data collected only by EliteNovaCorp. Customer only has access to website and web user data that is collected as part of Customer's campaign.
<br><br>
Rates: All advertising rates are subject to change at any time.
<br><br>
Representations and Warranties: Customer hereby indemnifies and holds harmless EliteNovaCorp Limited and the Publishers (including their successors, directors, officers, employees, agents, assigns) from and against all claims, loss, liability, damage and expense of any nature (including attorneys' reasonable fees) in connection with the Advertisement URL and its linked websites, for any actual or alleged breach of any term of this Agreement.
<br><br>
Damages: In no event shall either party be liable for special, indirect, incidental, or consequential damages, including, but not limited to, loss of data, loss of use, or loss of profits arising thereunder or from the provision of services.
<br><br>
Limitation of Liability: Neither EliteNovaCorp. nor the participating sites will be subject to any liability whatsoever for (a) any failure to provide reference or access to all or any part of the Advertisement URL due to systems failures or other technological failures of EliteNovaCorp Limited or of the Internet; (b) delays in delivery and/or non-delivery of a campaign, including, without limitation, difficulties with a Publisher or Website, difficulties with a third-party server, or electronic malfunction; and (c) errors in content or omissions in any Advertisement URL provided by Customer.
<br><br>
Modifications: The Program reserves the right to change any of these terms and conditions at any time without notice. You are responsible for complying with any changes to the terms and conditions within 2 days of the date of change, and are required to read this page periodically.
<br><br>

                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

{% endblock %}
